@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-gradient-to-br from-blue-900 via-purple-900 to-pink-900;
    overflow-y: auto;
    overflow-x: hidden;
  }

  body {
    @apply bg-gradient-to-br from-blue-900 via-purple-900 to-pink-900;
    background-attachment: fixed;
    overscroll-behavior: none;
    min-height: 100vh;
  }
}
